<% if flash[:error] %>
  <p class="alert"><%= flash[:error] %></p>
<% end %>

<% if current_user.id == @user.id %>
  <h1>My Account</h1>
<% else %>
  <h1>Account</h1>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @user.industry %>
</p>

<%= render partial:'resume_table', locals: { resumes: @user.resumes } %>

<br>

<%= link_to 'Edit Account', edit_user_path(@user) %> |
<%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
