<%= render 'layouts/nav', user: @user %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Welcome:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @user.industry %>
</p>

<p>
  <strong>Resume:</strong>
  <%=  link_to 'See Resumes', resumes_path  %>
</p>


