<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @user.industry %>
</p>

<p>
  <strong>Resume:</strong>
  <%=  link_to 'See Resumes', resumes_path  %>
</p>

<%= link_to 'Create Resume', new_resume_path %> |
<%= link_to 'Edit User', edit_user_path(@user) %> |
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
