<script>
    function fillStars(num){
        const ratingField = document.getElementById("rating-field");
        if (ratingField.value === num.toString()) {
            num = 0;
        }
        for (let i = 1; i <= 5; i++){
            const star = document.getElementById("star"+i);
            if (i <= num) {
                star.className="fa fa-star star-checked";
            } else {
                star.className="fa fa-star";
            }
        }
        ratingField.value = num.toString();
    }
</script>

<div class="card my-4">
  <h5 class="card-header">Create a Review</h5>
  <div class="card-body">
    <%= form_with(model: review, local: true) do |form| %>
      <div class="form-group">
        <% if review.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>
            <ul>
              <% review.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div hidden class="field">
          <%= form.label :resume %>
          <%= form.number_field :resume_id, value: resume.id %>
        </div>
        <div hidden class="field">
          <%= form.number_field :rating, value: '0', id: "rating-field" %>
        </div>

        <div class="field no-selection">
          <% (1..5).each do |index| %>
            <h2 class="fa fa-star" style="cursor:pointer;" id=<%= "star#{index}" %> onclick=<%= "fillStars(#{index})" %>></h2>
          <% end %>
        </div>

        <div class="field">
          <%= form.text_area :content, class: 'form-control', rows: '4'%>
        </div>
        <div >
          <%= form.submit class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

