<h2>New Resume</h2>

<%= form_for @resume, html: { multipart: true } do |f| %>
  <%= f.label :file %>
  <%= f.file_field :file %>
  <%= f.submit "Save"%>
<% end %>

<%= link_to 'Resumes', resumes_path %>

