<h1>Resume</h1>
<p id="notice"><%= notice %></p>

<% cache(@resume) do %>
<p>
  <strong>User</strong>
  <%= @resume.user.username %>
</p>

<p>
  <strong>Industry</strong>
  <%= @resume.user.industry %>
</p>

<embed src=<%= @resume.file.url %> type="application/pdf" width="100%" height="600px" />

<br>
<br>

<% if logged_in? %>
  <%= render partial: 'reviews/form', locals: { review: Review.new, resume: @resume }%>
  <br>
  <br>
<% end %>

<%= render partial: 'reviews/table', locals: { reviews: @resume.reviews.includes(:user).reverse } %>
<% end %>

