<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-nav nav-logo">Rezoom!</div>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <% if logged_in? %>
        <div class="navbar-nav">
          <%= link_to 'My Account', user_path(current_user["id"]), class: 'nav-item nav-link active'%>
          <%= link_to 'Add Resume', new_resume_path, class: 'nav-item nav-link active'%>
          <%= link_to 'Review A Resume', random_resume_path, method: 'post', class: 'nav-item nav-link active'%>
        </div>
        <div class="navbar-nav ml-auto">
          <%= link_to 'Help', tutorial_path, class: 'nav-item nav-link active' %>
          <%= link_to 'Logout', logout_path, method: :delete, class: 'nav-item nav-link active'%>
        </div>
      <% else %>
        <div class="navbar-nav">
          <%= link_to 'Home', root_path, class: 'nav-item nav-link active'%>
        </div>
        <div class="navbar-nav ml-auto">
          <%= link_to 'Help', tutorial_path, class: 'nav-item nav-link active'%>
          <%= link_to 'Create Account', new_user_path, class: 'nav-item nav-link active' %>
          <%= link_to 'Login', login_path, class: 'nav-item nav-link active'%>
        </div>
      <% end %>
    </div>
</nav>